<!-- (click) on event binding. Templaatin event on bindattu luokan metodiin-->
<button (click)="newGame()">Uusi peli</button>

<p>Vuorossa pelaaja: {{ player }}</p>

<!--peli tehdään tämän divin sisälle. Sisällä olevat elementit on laitettu CSS-gridiin.-->
<div class="board">
  <!--@for toistaa  app-square -elementtiä niin kauan kuin
    squares-taulukossa on alkioita, eli 9 kertaa-->
  <!-- val bindataan square-komponentin value-muuttujaan
         se viittaa siis squares-taulukon alkoihin-->
  <!-- taulukon jokaisen alkion index otetaan talteen i -muuttujaan
    joka välitetään makeMove(i) -metodille. Event binding: click -event
    bindataan makeMove(i) -metodiin -->
  @for (val of squares; track $index; let i = $index) {
  <app-square [value]="val" (click)="makeMove(i)"> </app-square>
  }
</div>

<!-- Kappale näytetään vain jos *ngIf='winner' on true eli winner on olemassa-->
@if(winner){
<p>Pelaaja {{ winner }} voitti pelin!</p>
}